.login__baseContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login__header {
        font-size: 24px;
        // font-family: "Open Sans", sans-serif;
    }

    .login__social__google {
        text-align: center;
        margin-top: 2rem;
    }

    .login__line__container {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #c5cbd0;
        margin-top: 1rem;

    }

    .login__line {
        height: 1px;
        margin: 24px 0 24px 0;
        width: 7rem;
        background: #c5cbd0;
    }

    .login__content {
        display: flex;
        flex-direction: column;

        .login__image {
            height: 6rem;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .login__formContainer {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .login__formGroup {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;

                label {
                    font-size: medium;
                }

                input {
                    margin-top: 6px;
                    width: 16rem;
                    height: 37px;
                    padding: 0px 10px;
                    font-size: 11px;
                    // font-family: ;
                    background-color: #f3f3f3;
                    border: 0;
                    border-radius: 4px;
                    margin-bottom: 31px;
                    transition: all 250ms ease-in-out;
                    &:focus {
                        outline: none;
                        box-shadow: 0px 0px 12px 0.8px #6e727569;;
                    } 
                }
            }
        }
    }
    .login__footer {
        margin: 2rem 0 2rem 0;
    } 

    .login__button {
        
    }
}

.signup__terms__container {
    width: 80%;
}
.signup__terms__title {
    text-align: left;
    font-size: medium;

    .signup__terms__icon {
        margin-top: -1rem;
    }
    span{
        margin: 0.2rem;
    }
}

.signup__terms__item {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 1.5rem 0 1.5rem 0;
}

.signup__terms__checkbox {
    text-align: right;
}

.signup__message {
    font-size: smaller;
    color: #ff4040;
}

.login__phrase {
    font-size: small;
    color: #757576;
}
.login__lilnk {
    margin-left: 1rem;
    color: cornflowerblue;
}