.lolmatching__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.lolmatching__cards__container {
    margin-top: 5rem;
}

.lolmatching__all__container {
    margin: 2rem;
}