{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - 비밀번호가 정상적으로 변경되었습니다!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "비밀번호가 정상적으로 변경되었어요." %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "비밀번호가 정상적으로 변경되었어요." %}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}